In [1]:
import torch
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier

In [3]:
train_origin = pd.read_csv("D:/Documents/Kaggel-game-Mental Health/train.csv")
test_origin = pd.read_csv("D:/Documents/Kaggel-game-Mental Health/test.csv")
train_origin.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

#### （数据处理）删除id、Name、City

In [4]:
train_origin = train_origin.drop(["id","Name","City"],axis = 1)
test_origin = test_origin.drop(["id","Name","City"],axis = 1)

In [5]:
train_origin.head(5)

,Gender,Age,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Female,49.0,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Male,26.0,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Male,33.0,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,Male,22.0,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Female,30.0,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [6]:
train_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140700 non-null  object
 1   Age                                    140700 non-null  float64
 2   Working Professional or Student        140700 non-null  object
 3   Profession                             104070 non-null  object
 4   Academic Pressure                      27897 non-null   float64
 5   Work Pressure                          112782 non-null  float64
 6   CGPA                                   27898 non-null   float64
 7   Study Satisfaction                     27897 non-null   float64
 8   Job Satisfaction                       112790 non-null  float64
 9   Sleep Duration                         140700 non-null  object
 10  Dietary Habits                         140696 non-null  object
 11  Degree                                 140698 non-null  object
 12  Have you ever had suicidal thoughts ?  140700 non-null  object
 13  Work/Study Hours                       140700 non-null  float64
 14  Financial Stress                       140696 non-null  float64
 15  Family History of Mental Illness       140700 non-null  object
 16  Depression                             140700 non-null  int64
dtypes: float64(8), int64(1), object(8)
memory usage: 18.2+ MB

## 1、第一列:Gender

In [6]:
train_origin['Gender'].value_counts()

Gender
Male      77464
Female    63236
Name: count, dtype: int64

In [7]:
label_encoder = LabelEncoder()
train_origin['Gender'] = label_encoder.fit_transform(train_origin['Gender'])

## 2、第二列：Working Professional or Student

In [8]:
train_origin['Working Professional or Student'].value_counts()

Working Professional or Student
Working Professional    112799
Student                  27901
Name: count, dtype: int64

In [9]:
train_origin['Working Professional or Student'] = label_encoder.fit_transform(train_origin['Working Professional or Student'])

## 3、第三列：Profession

In [10]:
train_origin['Profession'].value_counts()

Profession
Teacher           24906
Content Writer     7814
Architect          4370
Consultant         4229
HR Manager         4022
                  ...
Moderate              1
Analyst               1
Pranav                1
Visakhapatnam         1
Yuvraj                1
Name: count, Length: 64, dtype: int64

In [11]:
train_origin['Profession'] = label_encoder.fit_transform(train_origin['Profession'])

## 4、第四列：Academic Pressure

In [12]:
train_origin['Academic Pressure'].value_counts()

Academic Pressure
3.0    7463
5.0    6296
4.0    5158
1.0    4801
2.0    4179
Name: count, dtype: int64

## 5、第五列：Pressure

In [13]:
train_origin["Pressure"] = train_origin["Academic Pressure"].combine_first(train_origin["Work Pressure"])

In [14]:
train_origin.drop(columns="Work Pressure",inplace=True)
train_origin.drop(columns="Academic Pressure",inplace=True)

## 6、第六列：satisfaction

In [15]:
train_origin["Satisfaction"] = train_origin["Study Satisfaction"].combine_first(train_origin["Job Satisfaction"])
train_origin.drop(columns="Study Satisfaction",inplace=True)
train_origin.drop(columns="Job Satisfaction",inplace=True)
# 查看结果
train_origin.head()

,Gender,Age,Working Professional or Student,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Pressure,Satisfaction
0,0,49.0,1,10,NaN,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,5.0,2.0
1,1,26.0,1,55,NaN,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,4.0,3.0
2,1,33.0,0,64,8.97,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,5.0,2.0
3,1,22.0,1,55,NaN,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,5.0,1.0
4,0,30.0,1,9,NaN,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

## 7、第七列：CGPA

In [16]:
#缺失值填充0
train_origin['CGPA'] = train_origin['CGPA'].fillna(0)

## 8、第八列：Sleep Duration

In [17]:
train_origin['Sleep Duration'].describe()

count                140700
unique                   36
top       Less than 5 hours
freq                  38784
Name: Sleep Duration, dtype: object

In [18]:

Sleep_Duration_counts = train_origin['Sleep Duration'].value_counts()
to_replace = Sleep_Duration_counts[Sleep_Duration_counts == 1].index
# 将这些值替换为 "Less than 5 hours"
train_origin['Sleep Duration'] = train_origin['Sleep Duration'].replace(to_replace, "Less than 5 hours")

# 查看修改后的结果

train_origin['Sleep Duration'].replace(["45","Sleep Duration","Unhealthy","No"],"Less than 5 hours")

0         More than 8 hours
1         Less than 5 hours
2                 5-6 hours
3         Less than 5 hours
4                 5-6 hours
                ...
140695            5-6 hours
140696            7-8 hours
140697    More than 8 hours
140698            5-6 hours
140699    Less than 5 hours
Name: Sleep Duration, Length: 140700, dtype: object

In [19]:
train_origin['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    38802
7-8 hours            36969
More than 8 hours    32726
5-6 hours            32142
3-4 hours               12
6-7 hours                8
4-5 hours                7
2-3 hours                5
4-6 hours                5
6-8 hours                4
No                       4
1-6 hours                4
Sleep_Duration           2
10-11 hours              2
8-9 hours                2
9-11 hours               2
45                       2
Unhealthy                2
Name: count, dtype: int64

## 第13列：Dietary Habits

In [20]:
train_origin["Dietary Habits"].describe()

count       140696
unique          23
top       Moderate
freq         49705
Name: Dietary Habits, dtype: object

In [21]:
train_origin["Dietary Habits"].value_counts()

Dietary Habits
Moderate             49705
Unhealthy            46227
Healthy              44741
Yes                      2
More Healthy             2
No                       2
Pratham                  1
Gender                   1
BSc                      1
Less than Healthy        1
3                        1
1.0                      1
Hormonal                 1
Electrician              1
Mihir                    1
No Healthy               1
Less Healthy             1
M.Tech                   1
Vegas                    1
Male                     1
Indoor                   1
Class 12                 1
2                        1
Name: count, dtype: int64

In [22]:
# 创建映射字典
corrections = {
    "Yes":"Healthy",
    "No":"Unhealthy",
    "No Healthy": "Unhealthy",
    "Less Healthy": "Unhealthy",
    "More Healthy": "Healthy",
    "Less than Healthy":"Unhealthy"
}

# 应用修正
train_origin["Dietary Habits"] = train_origin["Dietary Habits"].replace(corrections)

In [23]:
Dietary_counts = train_origin["Dietary Habits"].value_counts()
to_replace = Dietary_counts[Dietary_counts == 1].index
train_origin['Dietary Habits'] = train_origin['Dietary Habits'].replace(to_replace, "Moderate")

In [24]:
train_origin["Dietary Habits"].value_counts()

Dietary Habits
Moderate     49719
Unhealthy    46232
Healthy      44745
Name: count, dtype: int64

## 第14列：Family History of Mental Illness

In [25]:
train_origin["Family History of Mental Illness"].describe()

count     140700
unique         2
top           No
freq       70758
Name: Family History of Mental Illness, dtype: object

In [26]:
train_origin["Family History of Mental Illness"] = label_encoder.fit_transform(train_origin["Family History of Mental Illness"])

## 第15列：Have you ever had suicidal thoughts ?

In [29]:
train_origin["Have you ever had suicidal thoughts ?"].value_counts()

Have you ever had suicidal thoughts ?
0    71138
1    69562
Name: count, dtype: int64

In [28]:
train_origin["Have you ever had suicidal thoughts ?"] = label_encoder.fit_transform(train_origin["Have you ever had suicidal thoughts ?"])

In [30]:
train_origin.head()

,Gender,Age,Working Professional or Student,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Pressure,Satisfaction
0,0,49.0,1,10,0.00,More than 8 hours,Healthy,BHM,0,1.0,2.0,0,0,5.0,2.0
1,1,26.0,1,55,0.00,Less than 5 hours,Unhealthy,LLB,1,7.0,3.0,0,1,4.0,3.0
2,1,33.0,0,64,8.97,5-6 hours,Healthy,B.Pharm,1,3.0,1.0,0,1,5.0,2.0
3,1,22.0,1,55,0.00,Less than 5 hours,Moderate,BBA,1,10.0,1.0,1,1,5.0,1.0
4,0,30.0,1,9,0.00,5-6 hours,Unhealthy,BBA,1,9.0,4.0,1,0,1.0,1.0

## 1、探索一下不同职业中抑郁症的发病情况

In [ ]:
#❌
df_work = train_origin[["Working Professional or Student","Profession","Depression"]]
df_work.head(5)

#### 可视化一、抑郁人数可视化

In [ ]:
depress_count = df_work['Depression'].value_counts()

In [ ]:
plt.bar(depress_count.index,depress_count.values)
plt.title("numbers of Depression")
# 为 x 轴添加标签，显示 0 和 1 的含义
plt.xticks(ticks=[0, 1], labels=['0: Depression', '1: No Depression'], rotation=0)
plt.show()

1、工作or学生

In [ ]:
df_work["Working Professional or Student"].value_counts()
depress_count = df_work["Depression"].value_counts()

#### 可视化二、学生/打工人抑郁情况可视化

In [ ]:
grouped = df_work.groupby(['Working Professional or Student', 'Depression']).size().unstack()
grouped.plot(kind='bar', stacked=True, figsize=(8, 6))
plt.title('Depression Levels by Category')
plt.xlabel('Category')
plt.ylabel('Count')
plt.legend(['Depression = 0', 'Depression = 1'], title='Depression')
plt.xticks(rotation=0)
plt.show()

In [ ]:
df_work["Profession"].value_counts()

In [ ]:
a = train_origin["Dietary Habits"].value_counts()
len(a)

In [ ]:
#### 我想删掉Dietary Habits这一列中，值为1的行；删掉Profession中值为1的行，删掉

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier

In [ ]:
# # Initialize the Label Encoder
# label_encoder = LabelEncoder()

# list_encoder = ['Gender','Working Professional or Student','Profession','Dietary Habits']

# for i in list_encoder:
# # Fit and transform the loan_intent column
#     train_origin[i] = label_encoder.fit_transform(train_origin[i])

In [ ]:
# train_origin.head()

In [ ]:
Profession_counts = train_origin["Profession"].value_counts()
len(Profession_counts)

In [ ]:
count88 = 0
for x in Profession_counts.values:
    if x == 1:
        count88 += 1
print(count88)

In [ ]:
Dietary_Habits_counts = train_origin["Dietary Habits"].value_counts()
len(Dietary_Habits_counts)

In [ ]:
Sleep_Duration_count = train_origin['Sleep Duration'].value_counts()
len(Sleep_Duration_count)

In [ ]:
Sleep_Duration_count

In [ ]:
import pandas as pd
import numpy as np

# 假设你的 DataFrame 名为 df
# 示例 DataFrame (与图片结构一致)
data = {
    "Study Satisfaction": [np.nan, np.nan, 2.0, np.nan, np.nan],
    "Job Satisfaction": [2.0, 3.0, np.nan, 1.0, 1.0]
}
df = pd.DataFrame(data)
df

In [ ]:

# 合并两列，优先选择非空值
df["Satisfaction"] = df["Study Satisfaction"].combine_first(df["Job Satisfaction"])

# 查看结果
df